<form class="max-w-sm mx-auto p-3" #form #noteForm="ngForm" (ngSubmit)="addNote(form)">
  <div class="mb-5">
    <label
      for="title"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Note Title</label
    >
    <input
      type="text"
      id="title"
      name="title"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="eg.birthday note"
      required
    />
  </div>
  <label
    for="desc"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Note Description</label
  >
  <textarea
    id="desc"
    rows="4"
    name="description"
    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    placeholder="Leave a description..."
  ></textarea>

  <label
    class="mt-2 block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    for="small_size"
    >Attach file <span class="text-red-300">(optional)</span></label
  >
  <input
    class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    id="small_size"
    name="file"
    type="file"
  />
  <button
    type="submit"
    [disabled]="noteForm.invalid"
    class="mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  >
    Add a note
  </button>
</form>
